---
import Avatar from "../UI/Avatar.astro"
---
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <img class="border border-gray-200 rounded-3xl h-96 w-full object-cover mb-8" 
        src="https://amartha.com/_next/image/?url=https%3A%2F%2Faccess.amartha.com%2Fuploads%2Fgroup_people_working_out_business_plan_office_1_f937ae31a5.jpg&w=1920&q=75" 
        alt="About Us">
        <div class="grid md:grid-cols-2 lg:gap-8 gap-0">
            <div class="relative bg-gray-900 z-10 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')] border border-gray-200 dark:border-gray-700 rounded-3xl p-9 md:p-10 mb-8 flex flex-col justify-between">
                <h1 class="text-white text-3xl lg:text-5xl font-bold mb-2 z-10">100+</h1>
                <p class="font-medium lg:text-lg text-gray-200 z-10">With growing experience and constant innovation, we are here to provide customized solutions, helping you achieve your business goals effectively and sustainably.</p>
                <div class="mt-4 z-10">
                    <Avatar />
                </div>
                <div class="absolute top-0 left-0 z-0 w-full h-full bg-gradient-to-b from-blue-900 to-transparent rounded-3xl pointer-events-none"></div>
            </div>                                  
            <div class="bg-white shadow dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-3xl p-9 md:p-10 mb-8">
                <h1 class="text-gray-900 text-3xl lg:text-5xl font-bold mb-2">Who Sora ???</h1>
                <p class=" font-medium lg:text-lg text-gray-500 dark:text-gray-400">We are a team of professionals experienced in designing and developing high-quality websites according to your business needs. With a modern and innovative approach, we help you build a strong online identity to increase your digital presence and achieve business goals.</p>
            </div>
        </div>
    </div>
</section>
