---
import "../../assets/css/header.css"
import Avatar from "../UI/Avatar.astro";
---
<section class="bg-white dark:bg-gray-900 headerStyle">
    <div class="py-0 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16 justify-between">
        <div class="flex flex-col justify-center">    
            <h1 class="mb-1 text-lg font-bold tracking-tight leading-none text-blue-700 md:text-2xl lg:text-2xl dark:text-white">
                With Sora, we build together.
            </h1>            
            <h1 class="mb-5 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Your Strategic Partner for Building World-Class Website</h1>
            <p class="mb-5 text-lg font-normal text-gray-500 lg:text-1xl dark:text-gray-400">Soraweb is more than just a website development service provider, but also a trusted collaborator focused on helping clients create amazing websites.</p>
            <div class="gap-2 w-64 lg:w-72 grid grid-cols-2">
                <a href="javascript:void(0)" class="py-3 px-6 text-sm font-medium text-white focus:outline-none bg-blue-700 rounded-xl border hover:bg-blue-800 focus:z-10 focus:ring-4  dark:bg-gray-800 dark:text-gray-400 text-center dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Order Now !
                </a>  
                <a href="javascript:void(0)" class="py-3 px-6 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-xl border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 text-center dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Our Work
                </a>  
            </div>
        </div>
        <div class="flex justify-center items-center h-full w-full">
            <img src="https://fetchpik.com/images/fetchpik.com-iconscout-FWbgHCiDT5.png" class="headerImg lg:block hidden" alt="Centered Image">
        </div>        
    </div>
</section>
