---
import Card from "../UI/Portfolio.astro"
---
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-left lg:py-16">
        <h1 class="mb-1 text-lg font-bold tracking-tight leading-none text-blue-700 md:text-2xl lg:text-2xl dark:text-white">Portfolio</h1>    
        <h1 class="mb-5 lg:mb-8 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">What We Do</h1> 
        <Card />
    </div>
</section>
