---
import Card from "../UI/Price.astro"
---
<section class="bg-blue-700 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-1 text-lg font-bold lg:text-center text-left tracking-tight leading-none text-gray-200 md:text-2xl lg:text-2xl dark:text-white">Pricing</h1>    
        <h1 class="mb-5 lg:mb-16 md:mb-16 text-4xl font-bold lg:text-center text-left tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Affordable Plans for Every Need</h1> 
        <Card />
    </div>
</section>
