<section class="bg-white dark:bg-gray-900 mt-2 mb-2">
    <div class="px-4 mx-auto max-w-screen-xl text-left">
        <div class="grid grid-cols-3 lg:grid lg:grid-cols-6 md:grid md:grid-cols-3 lg:gap-4 gap-5">
            <div class="flex justify-center items-center lg:w-full">
                <img src="https://lsvp.com/wp-content/uploads/2023/03/kjaylzshptwsi5tpaivw.webp" 
                     alt="Astro Logo" 
                     class="lg:w-16 w-12 rounded-xl h-auto filter grayscale hover:grayscale-0 transition-all duration-300" />
            </div>
            <div class="flex justify-center items-center lg:w-full">
                <img src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png" 
                     alt="React Logo" 
                     class="lg:w-24 w-16 rounded-xl mb-5 h-auto filter grayscale hover:grayscale-0 transition-all duration-300" />
            </div>
            <div class="flex justify-center items-center lg:w-full">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png" 
                     alt="Typescript Logo" 
                     class="lg:w-24 w-16 rounded-xl h-auto filter grayscale hover:grayscale-0 transition-all duration-300 mb-5" />
            </div>
            <div class="flex justify-center items-center lg:w-full">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/1200px-Laravel.svg.png" 
                     alt="Laravel Logo" 
                     class="lg:w-24 w-16 mb-4 rounded-xl h-auto filter grayscale hover:grayscale-0 transition-all duration-300" />
            </div>
            <div class="flex justify-center items-center lg:w-full">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/2560px-Tailwind_CSS_Logo.svg.png" 
                     alt="Tailwind Logo" 
                     class="lg:w-24 w-16 rounded-xl h-auto filter grayscale hover:grayscale-0 transition-all duration-300" />
            </div>
            <div class="flex justify-center items-center lg:w-full">
                <img src="https://w7.pngwing.com/pngs/639/10/png-transparent-javascript-line-tutorial-training-framework-text-logo-sign-thumbnail.png" 
                     alt="Javascript Logo" 
                     class="lg:w-24 w-16 rounded-xl h-auto filter grayscale hover:grayscale-0 transition-all duration-300 mb-5" />
            </div>
        </div>
    </div>
</section>
