<div class="flex -space-x-4 rtl:space-x-reverse">
    <img class="w-10 h-10 border-2 border-white rounded-full object-cover" src="https://i.pinimg.com/originals/d3/e7/38/d3e738544696e389c2c0130c6a1ae805.png" alt="User 1">
    <img class="w-10 h-10 border-2 border-white rounded-full object-cover" src="https://i.dailymail.co.uk/i/pix/2016/02/29/20/31B3EA2800000578-3470003-image-m-66_1456776822524.jpg" alt="User 2">
    <img class="w-10 h-10 border-2 border-white rounded-full object-cover" src="https://images-ng.pixai.art/images/orig/703a1fc4-b2be-4f06-69d7-13fe6a481700" alt="User 3">
    <a class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-blue-700 border-2 border-white rounded-full hover:bg-gray-600" href="#">+99</a>
</div>
